# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyw
*.pyx
*.pxd
*.pxi
*.so
*.pdy
*.egg
*.egg-info/
dist/
build/
*.egg-info/
*.eggs
*.sdist
*.develop
*.installed
*.dist-info
*.info
*.egg
*.egg-link
*.pth
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.lo
*.la
*.pyd
*.whl
*.lprof
*.orig
*.bak
*.rej
*.swp
*.swo
*.swn
*.sconsign
*.sconstruct
*.sconscript
*.class
*.com
*.exp
*.ilk
*.ipch
*.idb
*.pdb
*.ilk
*.map
*.iobj
*.ipdb
*.tlb
*.tli
*.tlh
*.tmp
*.temp
*.log
*.~*
*.bak
*.swp
*.swo
*.swn
*.orig
*.old
*.flc
*.idb
*.pdb
*.aps
*.ncb
*.suo
*.obj
*.o
*.pyc
*.pyo
*.pyd
*.bak
*.swp
*.swo
*.swn
*.class
*.com
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
*.pyd
*.egg
*.jar
*.war
*.rar
*.tar
*.vi
*.jpg
*.jpeg
*.gif
*.png
*.bmp
*.ppm
*.pgm
*.pbm
*.pnm
*.webp
*.svg
*.ico
*.icns
*.tif
*.tiff
*.mkv
*.avi
*.wmv
*.mov
*.mpg
*.mpeg
*.mp4
*.m4v
*.mp3
*.wav
*.wave
*.flac
*.aac
*.ogg
*.ogv
*.oga
*.flv
*.swf
*.pdf
*.iso
*.img
*.dmg
*.sdf
*.sqlite
*.sqlite3
*.sqlitedb
*.psd
*.ai
*.eps
*.tif
*.tiff
*.max
*.blend
*.3ds
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.ico
*.cur
*.zip
*.rar
*.tar
*.gz
*.bz2
*.7z
*.dmg
*.iso
*.img
*.sparseimage
*.ova
*.xva
*.vhd
*.vmdk
*.sdf
*.sqlite
*.sqlite3
*.sqlitedb
*.ntfs
*.fat
*.vfat
*.exfat
*.cr2
*.nef
*.dng
*.mef
*.orf
*.sr2
*.srf
*.arw
*.kdc
*.dcr
*.ptx
*.pef
*.raf
*.raw
*.rw2
*.rwl
*.mrw
*.3fr
*.eps
*.ase
*.pdf
*.swf
*.ai
*.indd
*.psd
*.psb
*.bmp
*.rle
*.dib
*.eps
*.raw
*.crw
*.nef
*.raf
*.orf
*.sr2
*.kdc
*.dcr
*.mos
*.nrw
*.dng
*.3fr
*.ptx
*.arw
*.srf
*.srw
*.x3f
*.der
*.cer
*.crt
*.pem
*.pfx
*.p12
*.p7b
*.spc
*.torrent
*.dat
*.srt
*.sub
*.sbv
*.vtt
*.ssa
*.ass
*.idx
*.mpl
*.mpls
*.smi
*.sami
*.stl
*.usf
*.ssf
*.psb
*.blf
*.ppj
*.aep
*.aepx
*.plb
*.prel
*.prproj
*.aet
*.kys
*.aex
*.pbk
*.stn
*.cst
*.csh
*.inx
*.indt
*.indl
*.indb
*.inx
*.idap
*.idms
*.xqx
*.i32
*.iar
*.u32
*.x32
*.dll
*.dylib
*.so
*.olb
*.ocx
*.ufr
*.ufa
*.bpk
*.aex
*.8bi
*.8bi8
*.8be
*.8ba
*.8bx
*.8by
*.8li
*.swf
*.fla
*.jsf
*.as
*.as3
*.asc
*.cls
*.mxml
*.sqf
*.qxd
*.qxt
*.qwd
*.qwt
*.qxl
*.qxb
*.3ds
*.3dx
*.pln
*.abs
*.amf
*.awg
*.ai
*.ait
*.c4d
*.c4p
*.c4f
*.c4a
*.cap
*.cdd
*.cdr
*.cdt
*.cdx
*.cdxml
*.cgm
*.vsd
*.vdx
*.vss
*.vst
*.vsw
*.vtx
*.xar
*.hpg
*.hpgl
*.hpl
*.hpg
*.hpgl
*.hpl
*.dwg
*.dxf
*.easm
*.eprt
*.indd
*.pmd
*.ppj
*.indt
*.indl
*.indb
*.inx
*.idml
*.pmd
*.xqx
*.fm
*.fmz
*.fmx
*.slt
*.xsl
*.ai
*.eps
*.pdf
*.pdp
*.ps
*.stl
*.u3d
*.prn
*.prt
*.asm
*.neu
*.gdf
*.session
*.icb
*.vda
*.win
*.vst
*.cals
*.dsm
*.drw
*.plt
*.hgl
*.pic
*.lo
*.la
*.al
*.blk
*.blx
*.d
*.pdb
*.ilk
*.exp
*.lib
*.flc
*.anm
*.fli
*.flc
*.gif
*.avi
*.mov
*.mpg
*.vob
*.m2v
*.mkv
*.r3d
*.mqv
*.rm
*.wmv
*.ogv
*.h264
*.h265
*.264
*.265
*.hevc
*.bik
*.bink
*.m4v
*.mp4
*.mkv
*.mk3d
*.webm
*.j2c
*.j2k
*.jpf
*.jpx
*.jp2
*.j2c
*.j2k
*.jpf
*.jpm
*.mj2
*.mpc
*.mpx
*.mpv
*.m2a
*.m1v
*.mpe
*.m2v
*.mpv2
*.mp2v
*.ts
*.tp
*.tpr
*.pva
*.pss
*.m4v
*.ismv
*.isma
*.pmp
*.rm
*.rmvb